# Node
node_modules
.pnpm-store

# Next.js
.next
out

# Python
.venv
__pycache__
.pytest_cache
*.pyc

# IDE
.vscode
.idea

# Environment
.env
.env.local
.env.production

# Logs
*.log

# Coverage
coverage

# Build
dist

# OS
.DS_Store
Thumbs.db
